* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav {
    height: 30%;
    width: 100%;
    background-color: #c7c7c7;
    display: grid;
    grid-template-columns: auto 2fr auto;
}

.nav-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.explore {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 4px;
}

.blog-img {
    width: 30px;
}

.articles-list {
    display: grid;
    place-content: center;
}

.articles {
    display: flex;
    gap: 8px;
    list-style: none;
}

.articles a {
    text-decoration: none;
}