* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav {
    height: 30%;
    width: 100%;
    background-color: #c7c7c7;
    display: grid;
    grid-template-columns: auto 2fr auto;
}

.nav-container {
    width: 100%;
    display: flex;
    background-color: ;
    flex-direction: row;
    justify-content: ;
}

.blog-img {
    width: 50px;
    padding: 4px;
}



.articles {
    display: flex;
    justify-content: space-;
}