<<<<<<< HEAD
#navbar {
    position: relative;
    background-color: orange;
    height: 35px;
}

#blogicon {
    position: relative;
    top: 5px;
    left: 5px;
    width: 25px;
    height: 25px;
    margin: 0%;
    padding: 0%;
    margin-right: 10px;
}

#botones {
    margin-top: -2%;
    display: flex;
    justify-content: end;
    
=======
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.nav {
    height: 30%;
    width: 100%;
    background-color: #e4e4e4;
    display: grid;
    grid-template-columns: auto 2fr auto;
}

.nav-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav-container div,.search {
    color: black;
    font-weight: 700;
}

.explore {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 4px;
}

/* <<<<<<< HEAD */
/* ======= */
.explore input,select  {
    border-radius: 8px;
    border: 1px solid #c7c7c7
}

/* >>>>>>> header */
.blog-img {
    width: 30px;
}

.articles-list {
    display: grid;
    place-content: center;
    
}

.articles {
    display: flex;
    gap: 8px;
    list-style: none;
    margin-right: 8px;
}

.articles a {
    text-decoration: none;
    color: black;
    font-weight: 500;
>>>>>>> 569db8b305f7f392934abeb5347607de424bd206
}