.nav-bar{
    position: relative;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 60px;
}

.nav-bar__figure {
    position: absolute;
    width: 20%;
    height: 20px;
    border: 1px solid;
    left: 0;
    top: 0;
}

.nav-bar__logo {
    height: 25px;
    width: 50%;
}
/*
.nav-bar__list {
    border: 1px solid black;
    display: flex;
    justify-content: space-evenly;
    width: 500px;
}

.nav__item {
    height: 20px;
    width: 40px;
    background: steelblue;
}

ul .nav__item:nth-child(2n) {
    color: red;
    background-color: green;
} */

/* (2n) significa que eligira todos los elementos pares y para los impares seria (2n+1) */