<<<<<<< HEAD
=======
:root {
  --primary-color: midnightblue;
  --secondary-color: darkred;
}

>>>>>>> 569db8b305f7f392934abeb5347607de424bd206
body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}

main {
  display: flex;
}

.main {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}

h1 {
  font-size: 5rem;
}

footer {
  text-align: right;
<<<<<<< HEAD
  color: darkred;
=======
  color: var(--secondary-color);
>>>>>>> 569db8b305f7f392934abeb5347607de424bd206
}

.title-image {
  float: left;
  height: 200px;
  width: 260px;
}

span {
<<<<<<< HEAD
  color: midnightblue;
=======
  color: var(--primary-color)
>>>>>>> 569db8b305f7f392934abeb5347607de424bd206
}

img {
  border-radius: 6px;
  margin-right: 10px;
  margin-left: 10px;
}

.left {
  width: 50%;
}

.right {
  width: 50%;
}


@media (max-width: 480px) {
  .main {
<<<<<<< HEAD
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    object-fit: cover;
=======
    display: block;
    /* align-items: center;
    flex-direction: column;
    justify-content: center; */
    object-fit: cover;
    text-align: justify;
>>>>>>> 569db8b305f7f392934abeb5347607de424bd206
  }

  .left {
    width: 85%;
  }
  
  .right {
    width: 85%;
  }
}

@media (max-width: 680px) {

  .left,.right {
    margin-right: 10px;
    object-fit: cover;
    width: 100%;
  }
  .card img {
    display: inline;
    width: 100%;
    object-fit: cover;
  }
}

@media (max-width: 985px) {

  .left,.right {
    margin-right: 10px;
    object-fit: cover;
    width: 100%;
  }
  .card img {
    display: inline;
    width: 100%;
    object-fit: cover;
  }
}