* {
    margin: 0;
    padding: 0;
}

.imgPrincipal {
    height: 60px;
    width: 60px;
    padding: 12px;
    border-radius: 50%;
}

.header {
    display: flex;
    align-items: center;
    height: 70px;
    width: 100%;
    background-color: rgba(2, 34, 4, 0.774);
}