* {
    margin: 0;
    padding: 0;
}

.imgNav {
    height: 60px;
    width: 60px;
    padding: 12px;
    border-radius: 50%;
}

.nav-main {
    display: flex;
    align-items: center;
    height: 70px;
    width: 100%;
    background-color: rgba(2, 34, 4, 0.774);
}

.spider-btn {
    height: 60px;
    width: 60px;
    border-radius: 12px;
    border: 1px solid black;
}