<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Layout practice">
    <meta name="robots" content="index,follow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style-layout.css">
    <title>Layout</title>
</head>
<body>
    <header>
        <nav>
            <section class="nav-bar">
                <img class="nav-bar__logo" src="../Claseimg/assets/tinified/pexels-thomas-b-814898.jpg" alt="Logo">
                <span>Layout</span>
                <ul class="nav-bar__list">
                    <li class="nav-bar__item"><a href="#">Home</a></li>
                    <li class="nav-bar__item"><a href="#">Cursos</a></li>
                    <li class="nav-bar__item"><a href="#">Instructores</a></li>
                    <li class="nav-bar__item"><a href="#">Blog</a></li>
                </ul>
            </section>
        </nav>
    </header>
    <main>
        <aside class="aside-section">
            <div class="grid-container">
                <div class="grid-item">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus consequuntur nulla voluptas in sequi cum illo quod sint quas quae officiis molestias asperiores, soluta reiciendis, harum vitae veniam, alias fugit.</p>
                </div>
                <div class="grid-item">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio ab voluptate ex? Minima saepe soluta voluptas vitae nam, earum nobis nostrum? Voluptatum rerum dolorum nam quae ipsam voluptatem magni neque.</p>
                </div>
                <div class="grid-item">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium odit animi velit blanditiis dignissimos nesciunt nisi id? Omnis aspernatur cumque ab quidem laboriosam odit, numquam iste explicabo vel, ex corrupti.</div>
                <div class="grid-item">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit eligendi doloremque quis laborum dolorum. Nesciunt dolor minima fugiat voluptatem aliquid neque vero repellendus, exercitationem accusantium, nobis maiores a ea obcaecati.</div>
              </div>
        </aside>
        <section class="main-section">
            <p class="main-paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea doloremque architecto quis quaerat laborum impedit maiores reprehenderit et dolorem iure nobis rerum mollitia eum, nulla voluptatem. Recusandae itaque quidem ratione.</p>
            <section class="imagenes">
                <div class="img-items">
                    <div class="grid-item item-container">
                        <div class="grid-item-item">1</div>
                        <div class="grid-item-item">2</div>
                        <div class="grid-item-item">3</div>
                        <div class="grid-item-item">4</div>
                      </div>
                </div>
                <div class="img-items">2</div>
                <div class="img-items">3</div>
                <div class="img-items">4</div>
            </section>
        </section>
    </main>
    <footer>
        <section>
            <p>~ → su copyright va aqui ← ~</p>
        </section>
    </footer>
</body>
</html>