ul {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}

figure > img {
    height: 150px;
    width: 150px;
}

figure #banana {
    height: 100px;
    width: 200px;
}

figure #pineapple {
    height: 200px;
    width: 150px;
}
