* {
    margin: 0;
    padding: 0;
}

.form-container {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.title{
    text-align: center;
    background-color: slategray;
    padding: 40px;
}

.destino {
    display: grid;
    grid-template-columns: 1fr 2fr;
    place-content: center;
    padding: 24px;
}

.lugares {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.seleccion {
    margin-bottom: 6px;
}
.bloque2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 0px 24px 24px;
}

.salida {
    width: 100%;
    display: grid;
    grid-template-columns: 0.33fr 0.3fr;
    margin-bottom: 24px;
}

span span {
    color: red;
}

