.sec1 {
    width: 25%;
    order: 1;
    max-height: 300px;
}

section:nth-child(4).sec5 {
    width: 40%;
    order: 3;
    overflow: auto;
}

.sec6 {
    width: 35%;
    max-height: 300px;
    order: 2;
}

.sec2{
    display: flex;
}

.sec3, .sec4 {
    width: 50%;
}
