.sec1 {
    width: 25%;
    order: 1;
    overflow:auto;
    max-height: 300px;
}

.sec6 {
    order: 2;
    width: 75%;
}

.sec2 {
    width: 100%;
    order: 4;
}

.sec5 {
    order: 5;
    max-height: 300px;
}