<<<<<<< HEAD
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

header {
    width: 100vw;
    height: 15vh;
    background-color: antiquewhite;
}

main {
    width: 100vw;
    min-height: 70vh;
    font-size: 1.8rem;
}

h1 {
    font-size: 4rem;
}


footer {
    width: 100vw;
    height: 15vh;
    background-color: antiquewhite;
}

@media (max-width: 600px) {
    body {
        background-color: red;
    }
    h1 {
        font-size: 3rem;
    }
=======
:root {
    --primary-color: antiquewhite;
    --secondary-color: darkred;
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

header {
    width: 100vw;
    height: 15vh;
    background-color: var(--primary-color);
}

main {
    width: 100vw;
    min-height: 70vh;
    font-size: 1.8rem;
}

h1 {
    font-size: 4rem;
}


footer {
    width: 100vw;
    height: 15vh;
    background-color: var(--primary-color);
}

@media (max-width: 600px) {
    body {
        background-color: var(--secondary-color);
    }
    h1 {
        font-size: 3rem;
    }
>>>>>>> 569db8b305f7f392934abeb5347607de424bd206
}