* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

.nav-bar__logo {
    height: 3rem;
    width: 5rem;
    align-self: center;
    margin-left: 5px;
    margin-right: 5px;
}

.nav-bar {
    min-height: 5vh;
    background-color: red;
    display: flex;
    justify-content: space-between;
}

main {
    display: flex;
    gap: 10px;
    margin: 10px 10px;
}

.aside-section {
    height: auto;
    flex: 1;
    border: 1px black solid;
    background-color: papayawhip;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 5%;
}

.grid-item {
    background-color: blueviolet;
    border: 2px solid green;
}

.main-section {
    border: 1px black solid;
    /* flex-basis: 100%; */
    flex: 4;
}

.imagenes {
    display: grid;
    grid-template-rows: 200px fit-content;
    grid-template-columns: 20% auto;
    
    gap: 5px;
}

.img-items {
    background-color: green;
}

.item-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5px;
}

.grid-item-item {
    background-color: blueviolet;
    border: 2px solid green;
}

span {
    justify-self: left;
    flex: 6;
    align-self: center;
}

ul {
    margin-right: 10px;
    display: flex;
    align-self: center;
    justify-content: space-evenly;
    list-style: none;
    gap: 7px;
    flex: 2;
}

li a {
    text-decoration: none;
}

li a:hover:active {
    color: black;
    margin: 2px;
}

/* aside > div {
    height: 100px;
    width: 100px;
    border: 1px black solid;
    background-color: red;
} */

main {
    height: 85vh;
}

footer {
    height: 10vh;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    background-color: red;
    font-size: 3rem;
}