h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.title {
    font-family: monospace;
}

#page-title {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

