* {
    margin: 0;
    padding: 0;
}

.imgNav {
    height: 60px;
    width: 60px;
    padding: 12px;
    border-radius: 50%;
}

.nav-main {
    display: flex;
    align-items: center;
    height: 70px;
    width: 100%;
    background-color: rgba(2, 34, 4, 0.774);
}

#logo {
    text-align: center;
    color: white;
    background-color: rgba(6, 71, 0, 0.329);
    
    box-sizing: border-box;
    padding: 5%;
}

.arañaBlanca {
    max-width: 100%;
    max-height: 400px;
    min-width: 100px;
    min-height: 100px;
    box-sizing: border-box;

    padding-bottom: 5%;
}

#hero {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.heroContainer {
    width: 100%;
}


.spider-btn {
    height: 60px;
    width: 60px;
    border-radius: 12px;
    border: 1px solid black;
}
