*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.smallPic {
    text-align: center;
    color: white;
    background-color: black;
    border-radius: 32px;
    box-sizing: border-box;
    padding: 5%;
}

.smallPic img {
    /* height: auto; */
    max-width: 100%;
    max-height: 400px;
    min-width: 100px;
    min-height: 100px;
    padding-bottom: 5%;
    border-radius: 32px 32px 0px 0px;
}

/* el padding se puede configurar tanto en la imagen como en el contenedor pero hay que recordar que el padding que se l configure a la imagen se sumara al tama;o de la misma por lo que, como en el caso de la imagen del tigre si el padding se le aplica a esta, se saldra del contenedor al achicarla. Pero si le aplicamos el padding al contenedor la imagen quedara dentro de los parametros que ya le marcamos  */

figcaption {
    padding-bottom: 24px;
}

.bigPic {
    background-color: red;
    box-sizing: border-box;
    /* Añade estilos para controlar el tamaño del contenedor */
    width: 100%; /* Ajusta el ancho al 100% del contenedor padre */
    height: auto; /* Permitir que la altura se ajuste automáticamente */
    max-width: 100%; /* Asegúrate de que el contenedor no sea más ancho que su contenedor padre */
    overflow: hidden; 

}

.bigPic img {
     /* Elimina el object-fit que puede estar causando el problema */
     object-fit: cover; /* Establece el comportamiento predeterminado de la imagen */
     width: 100%; /* Ajusta el ancho de la imagen al 100% del contenedor */
     height: auto; /* Permitir que la altura se ajuste automáticamente */
     display: block; /* Asegúrate de que la imagen se comporte como un bloque */
}

.gradientFooter {
    width: 100%;
    margin: 0;
    height: 15rem;
    background: linear-gradient(300deg, rgba(255, 153, 0, 0.89), black, white);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}