* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Segoe UI', Tahoma, sans-serif;

}

a {
    text-decoration: none;
}

.navbar {
    display: flex;
    width: 100%;
    height: auto;
    background-color: transparent;
    max-height: 60px;
}

.navbar__itemLeft {
    width: 80%;
}

.navbar__itemRight {
    display: flex;
    justify-content: end;
    width: 30%;
    flex-wrap: nowrap;
}

.navbar__itemRight a {
    color: rgba(0, 0, 0, 0.95);
}

.navbar__subsectionLeft {
    display: flex;
    gap: 15px;
    justify-content: end;
    align-items: center;
    padding: 10px;
    height: auto;
    width: 100%;
    font-weight: 700;
    font-size: medium;
}

.navbar__subsectionRight {
    display: flex;
    justify-content: start;  
    align-items: center;
    gap: 10px;
    padding: 10px;
    height: auto;
    width: 100%;
}

.navbar__subsectionRight a:nth-child(1) img {
    width: 30px;
    height: 30px;
    margin-left: 6px;
    max-width: 80px;
    border-radius: 100px;
}
.navbar__subsectionRight a:nth-child(2) img {
    width: 40px;
    height: 40px;
    margin-left: 6px;
    max-width: 80px;
    border-radius: 100px;
}

main {
    width: 100%;
    height: 70vh;
}

.main__container {
    display: flex;
    flex-direction: column;
}

.main__blockLogo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__blockLogo {
    margin: 20vh 0 38px;
}

.main__blockLogo figure img {
    height: 92px;
    width: 272px;    
}

.main__blockSearch {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__blockSearch div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    height: auto;
    width: 50%;
    max-width: 500px;
    padding: 10px 10px;
    border: 1px solid #7777;
    border-radius: 50px;
    box-shadow: 1px 2px 0px 1px rgba(0, 0, 0, 0.2);
}

.main__item-lupa img {
    height: 24px;
    width: 24px;
}

.main__item-microphone img{
    height: 24px;
    width: 20px;
}

.main__blockSearch label {
    height: 2.5rem;
    width: 100%;
    padding: 0 6px;
}

.main__blockSearch input {
    height: 2.5rem;
    width: 100%;
    padding: 4px;
    border: none;
    overflow: hidden;
    text-overflow: ellipsis;
    outline: none;
    font-size: 1.6rem;
}

/* agregar un margin de 10px en mobile */