<<<<<<< HEAD
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.container {
    display: flex;
    justify-content: center;
    position: relative;
    top: 30rem;
}

.box {
    display: inline-block;
    background-color: red;
    border: 2px grey solid;
    border-radius: 1rem;
    overflow: hidden;
}

#one {
    position: relative;
    height: 4rem;
    width: 10rem;
    z-index: 1;
}

.box-one {
    text-align: center;
    margin-top: 10px;
}

#two {
    position: absolute;
    height: 100px;
    width: 50%;
    background-color: green;
    top: 20px;
}

.box-two {
    margin: 80px;
    margin-top: 30px;
}


=======
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.container {
    display: flex;
    justify-content: center;
    position: relative;
    top: 30rem;
}

.box {
    display: inline-block;
    background-color: red;
    border: 2px grey solid;
    border-radius: 1rem;
    overflow: hidden;
}

#one {
    position: relative;
    height: 4rem;
    width: 10rem;
    z-index: 1;
}

.box-one {
    text-align: center;
    margin-top: 10px;
}

#two {
    position: absolute;
    height: 100px;
    width: 50%;
    background-color: green;
    top: 20px;
}

.box-two {
    margin: 80px;
    margin-top: 30px;
}


>>>>>>> 569db8b305f7f392934abeb5347607de424bd206
